.cta-button {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.24px;
  line-height: 25px;
  background: #F2604C;
  width: 146px;
  height: 42px;
  padding: 13px 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 1000;
}
