.books {
	.books--tagline {
		height: 132px;
		font-family: Rockkitt-Regular;
		color: #383776;
		background-color: #cbedef;
		text-align: center;
	}
		h2 {
			font-weight: 100;
			letter-spacing: 1px;
			padding-top: 70px;
			margin: 0;
		}
	
}