.app-header {

  background-color: #383776;
  color: white;
  font-family: Rokkitt-Bold, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  padding-top: 32px;
  padding-left: 30px;

  img {
    width: 30px;
  }

  .app-header--name {
    font-size: 19px;
    display: inline-block;
    vertical-align: top;
    margin: 3px 0 0 3px;
    font-weight: bold;
    letter-spacing: 1.4px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.app-header-register {
  border: solid #f25e52 1px;
  padding: 9px 17px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 37px;
  height: 28px;
  right: 27px;
  top: 33px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  transform: translate(-10px, -45px);
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.5em;
  transform: translateY(-65px);

  nav {
    margin: 8%;
    a {
      margin: 20px 0;
    }
  }
}


/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  transform: translate(-31px, -63px);
}
