@import 'variables';
.app-header {

  background-color: $blue-green;
  color: white;
  font-family: $rokkitt-bold;
  letter-spacing: 0.5px;
  padding-top: 25px;
  padding-bottom: 25px;

  img {
    width: 30px;
  }

  .app-header--logo-container {
    display: flex;
    align-items: center;
  }

  .app-header--name {
    font-size: 19px;
    font-family: $poppins;
    display: inline;
    vertical-align: top;
    margin: 3px 0 0 3px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  a {
    text-decoration: none;
    color: white;
  }
  .row {
    @media #{$large-screen} {
      display: flex;
      align-items: center;
    }
  }

  .app-header--navigation {
    display: none;
    @media #{$large-screen} {
      display: block;
      font-weight: 600;
      text-align: right;
      padding-right: 35px;
      letter-spacing: 1.1px;
      font-size: 14px;
    }
  }

  .non-register a {
    @media #{$large-screen} {
      margin-left: 27px;
    }
  }

  .register {
    @media #{$large-screen} {
      border: 1px solid red;
      padding: 9px 17px;
      margin-left: 25px;
    }
  }
}

.app-header-register {
  border: solid #f25e52 1px;
  padding: 9px 17px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  @media #{$large-screen} {
    display: none;
  }
  position: fixed;
  width: 37px;
  height: 28px;
  right: 27px;
  top: 33px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  transform: translate(-243px, -5px);
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.5em;
  transform: translateY(-65px);

  nav {
    margin: 8%;
    a {
      margin: 20px 0;
    }
  }
}

.bm-menu-wrap {
  z-index: 3;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  transform: translate(-31px, -63px);
}
