.home {
  .home--tagline {
    padding: 75px 35px 0;
    background-color: #383776;
    color: white;
    .master-react-redux {
      font-size: 37px;
      font-weight: 900;
      padding: 4px 11px;
      letter-spacing: 1.4px;
      background-color: #52D0E1;
      margin-bottom: 5px;
    }
    .webpack-es6 {
      font-size: 37px;
      font-weight: 900;
      padding: 4px 11px;
      letter-spacing: 1.4px;
      background-color: #85C38F;

      &:last-child {
        margin-top: 5px;
      }

    }
  }

  .home--cta {
    background-color: #383776;

    .home--cta--view-courses {
      text-align: center;
      padding-top: 55px;
      padding-bottom: 20px;

      a {
        margin: 0 auto;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.24px;
        line-height: 25px;
        background: #F2604C;
        width: 146px;
        height: 42px;
        padding: 13px 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }
    }
    .home--cta--copy {
      color: #FFFFFF;
      padding: 0 38px 73px;
      font-size: 1.2em;
      letter-spacing: 0.6px;
      line-height: 35px;

      .blue-text {
        color: #52D0E1;
      }
    }
  }

  .home--description {
    .home--description--title {
      color: #383776;
      padding: 66px 70px 36px 83px;
      font-size: 1.6em;
      letter-spacing: 3.9px;
      font-weight: 500;
      p {
        margin: 0 0 10px;
      }
    }

    .home--description--info-box {
      padding: 0 35px;

      .home--description--info-box--content {
        background-color: #B7E5EC;
        color: #383776;
        padding: 35px 35px 0;
        text-align: center;
        font-size: 1.1em;
        letter-spacing: 1px;
        line-height: 25px;

        section {
          border-bottom: 2px solid #383776;
          padding-bottom: 38px;
          margin-bottom: 34px;

          &:last-child {
            border: none;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .home--benefits {
    .home--benefits--title {
      margin-top: 72px;
      margin-left: 141px;
      font-weight: 600;
      letter-spacing: 1.5px;
      color: #9192B1;
    }

    img {
      height: 155px;
      margin: 22px 115px;
    }

    .home--benefits--paste {
      h3 {
        font-family: Rokkitt-Regular;
        color: #383776;
        font-size: 1.5em;
        font-weight: 100;
        margin-top: 10px;
        margin-left: 33px;
        letter-spacing: 1.9px;
      }

      p {
        color: #616177;
        margin: -5px 44px;
        letter-spacing: 0.9px;
        line-height: 27px;
        font-size: 0.99em;
        font-weight: 100;
      }
    }

    .home--benefits--medal {
      img {
        margin-top: 32px;
        margin-left: 117px;
      }

      h3 {
        font-family: Rokkitt-Regular;
        color: #383776;
        font-size: 1.5em;
        font-weight: 100;
        margin-top: -8px;
        margin-left: 64px;
        letter-spacing: 1.9px;
      }
      p {
        color: #616177;
        margin: -8px 35px;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 0.99em;
        font-weight: 100;
      }
    }

    .home--benefits--fun {
      img {
        margin-top: 72px;
        height: 128px;
        margin-left: 117px;
      }

      h3 {
        font-family: Rokkitt-Regular;
        color: #383776;
        font-size: 1.5em;
        font-weight: 100;
        margin-top: 21px;
        margin-left: 36px;
        letter-spacing: 1.9px;
      }
      p {
        color: #616177;
        margin: -7px 66px;
        letter-spacing: 1.1px;
        line-height: 28px;
        font-size: 0.99em;
        font-weight: 100;
      }
    }
  }

  .home--newsletter {
    h2 {
      font-size: 1.5em;
      color: #383776;
      letter-spacing: 2.45px;
      line-height: 34px;
      font-weight: 500;
      margin-left: 87px;
      margin-top: 54px;
    }

    p {
      font-family: Rokkitt-Bold;
      font-size: 1.1em;
      color: #83C48D;
      letter-spacing: 1.6px;
      line-height: 0px;
      margin-left: 32px;
      margin-top: -5px;

    }

    .home--newsletter--submit {
      border: 1px solid #E4E9F2;
      width: 247px;
      height: 38px;
      margin-left: 18px;
      margin-top: 31px;
    }
  }

  .home--footer {
    background-color: #E4E9F2;
    height: 105px;
    margin-top: 39px;
    color: #9192B1;

    ul {
      list-style: none;
    }

    a {
      color: #9192B1;
    }
  }
}