.home {
  .home--tagline {
    padding: 75px 35px 0;
    background-color: #383776;
    color: white;
    .master-react-redux {
      font-size: 37px;
      font-weight: 900;
      padding: 4px 11px;
      letter-spacing: 1.4px;
      background-color: #52D0E1;
      margin-bottom: 5px;
    }
    .webpack-es6 {
      font-size: 37px;
      font-weight: 900;
      padding: 4px 11px;
      letter-spacing: 1.4px;
      background-color: #85C38F;
      margin-bottom: 5px;
    }
  }
}
