.home {
  .home--tagline {
    padding: 75px 35px 0;
    background-color: #383776;
    color: white;
    .master-react-redux {
      font-size: 37px;
      font-weight: 900;
      padding: 4px 11px;
      letter-spacing: 1.4px;
      background-color: #52D0E1;
      margin-bottom: 5px;
    }
    .webpack-es6 {
      font-size: 37px;
      font-weight: 900;
      padding: 4px 11px;
      letter-spacing: 1.4px;
      background-color: #85C38F;

      &:last-child {
        margin-top: 5px;
      }

    }
  }

  .home--cta {
    background-color: #383776;

    .home--cta--view-courses {
      text-align: center;
      padding-top: 55px;
      padding-bottom: 20px;

      a {
        margin: 0 auto;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.24px;
        line-height: 25px;
        background: #F2604C;
        width: 146px;
        height: 42px;
        padding: 13px 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }
    }
    .home--cta--copy {
      color: #FFFFFF;
      padding: 0 38px 73px;
      font-size: 1.2em;
      letter-spacing: 0.6px;
      line-height: 35px;

      .blue-text {
        color: #52D0E1;
      }
    }
  }
}
