@import 'variables';

.training {
  .training--workshop1 {
    height: 341px;
    background-color: $blue-green;
    color: #4BD0E2;
    text-align: center;
    padding: 0px;
    @media #{$medium-screen} {
      height: 318px;
      background-color: $white;
    }

    .training-wrapper {
      background-color: $blue-green;
      height: 100%;
      @media #{$large-screen} {
        height: 318px;
        text-align: left;
        padding-left: 42px;


        &:before {
          content: " ";
          position: absolute;
          width: 844px;
          height: 318px;
          background-image: url('assets/react-2016-banner.svg');
          background-position: left top;
          background-repeat: no-repeat;
          background-size: 111%;
          width: 66%;
          transform: translateX(59px);
        }
      }
 
    }

    .training--workshop1--container {
      display: inline-block;
      margin: 0 auto;
      @media #{$medium-screen} {
      	max-width: 500px;
      }
    }
		.training--workshop1--date {
			padding-top: 36px;

			a {
		        color: #4BD0E2;
		        font-size: 0.8em;
		        font-weight: 300;
		        letter-spacing: 1.9px;
		        text-decoration: none;
		        padding-bottom: 4px;
		        border-bottom: 2px solid #4BD0E2;
			}
		}
		
		.master--react--redux--1 {
			color: #FFFFFF;
			font-size: 1.6em;
			font-weight: 400;
			padding: 8px 2px;
			letter-spacing: 0.2px;
			margin-bottom: 5px;
			margin-top: 22px;
			text-align: initial;
			line-height: 15px;
			@media #{$medium-screen} {
				font-size: 1.4em;
    			font-weight: 600;
    			display: inline-block;
			}
			
		}

		.master--react--redux {
			color: #FFFFFF;
			font-size: 1.6em;
			font-weight: 400;
			padding: 8px 2px;
			letter-spacing: 0.7px;
			margin-bottom: 5px;
			text-align: initial;
			line-height: 7px;
			@media #{$medium-screen} {
				font-size: 1.4em;
    			font-weight: 600;
    			display: inline;
			}

		}

		p {
			font-weight: 300;
    		padding-top: 8px;
    		font-size: 0.95em;
    		padding-right: 28px;
    		letter-spacing: 0.6px;
    		@media #{$medium-screen} {
    			font-size: 0.7em;
    		}
		}

		.training--view {
			text-align: left;
      		padding-top: 12px;
      		padding-bottom: 20px;
      		padding-left: 2px;
      		@media #{$medium-screen} {
      			padding-left: 0;
      			padding-top: 29px;
      		}

			i {
				padding-left: 5px;
			}
		}
	}

	.training--workshop2 {
		height: 242px;
		background-color: $sky-blue;
		text-align: center;
    padding: 37px 0 0 0;
    @media #{$medium-screen} {
      padding-top: 0px;
      height: 3px;
      background-color: $white;
    }

    .training-wrapper {
      background-color: $sky-blue;
      @media #{$medium-screen} {
        height: 316px;
        background: linear-gradient(to right, rgba(75,208,226,1) 0%, rgba(8,4,4,1) 100%);
      }
    }

  .training--workshop2--container {
    display: inline-block;
    margin: 0 auto;
    @media #{$medium-screen} {
      text-align: left;
      float: left;
      padding-top: 46px;
      padding-left: 30px;
    }

		img {
			display: none;
			@media #{$large-screen} {
				width: 28%;
				float: right;
				margin-right: 99px;
				display: inline-block;
			}
		}
	}

	.training--workshop2--date a {
		color: $blue-green;
		font-size: 0.8em;
    	font-weight: 300;
    	letter-spacing: 1.9px;
    	text-decoration: none;
   		padding-bottom: 4px;
    	border-bottom: 2px solid $blue-green;
	}

	.training--workshop2--react {
		color: #FFFFFF;
		font-size: 1.6em;
		font-weight: 400;
		padding: 7px 2px;
		letter-spacing: 0.6px;
		margin-bottom: 5px;
		margin-top: 22px;
		text-align: initial;
		line-height: 15px;
		@media #{$medium-screen} {
			font-size: 1.4em;
			font-weight: 600;
		}
	}

	.training--workshop2--authors {
		font-weight: 300;
    	font-size: 0.95em;
    	padding-right: 29px;
    	letter-spacing: 0.6px;
    	color: $blue-green;
    	@media #{$medium-screen} {
    		font-size: 0.7em;
    	}
	}

		.training--workshop2--view {
			text-align: center;
      		padding-top: 12px;
      		padding-bottom: 20px;
      		padding-left: 2px;

      a {
        font-size: 14px;
        letter-spacing: 0.24px;
        line-height: 14px;
        background: #F2604C;
        padding: 13px 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
        border: none;
        text-align: initial;
        float: left;
        @media #{$medium-screen} {
        	background: none;
        	border: solid 2px #FFFFFF;
        	padding: 13px 14px;
        }

      }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      i {
      	@media #{$medium-screen} {
      		color: $blue-green;
      		padding-left: 5px;
      	}
      }
    }
  }

  .training--corporate {
    height: 99px;
    margin-top: 12px;
    color: $blue-green;
    background-color: $white;
    text-align: center;
    line-height: 9px;
    padding-top: 10px;
    letter-spacing: 0.9px;
    font-weight: 300;
    font-size: 0.9em;
    padding-left: 0;
    padding-right: 0;
    @media #{$medium-screen} {
    	padding-top: 0;
    	margin-top: 0;
    }


    p {
      line-height: 1.9;
      margin-bottom: 0;
      @media #{$medium-screen}{
      	line-height: 5.9em;
      	display: inline;
      }
    }

    .training-wrapper {
      background-color: $overcast-blue;
      height: 85px;
      @media #{$medium-screen} {
      	margin-top: 20px;
      }
    }

	}

	.newsletter {
		@media #{$medium-screen} {
			padding-top: 0;
			padding-bottom: 75px;
			clear: both;
		}

		h2 {
			@media #{$medium-screen} {
	      		padding-top: 66px;
	      	}
		}
	}

	.training--newsletter {
		padding: 0px 18px;

	    .training--newsletter--title {
	      padding: 0 38px;
	      text-align: center;
	    }

	    h2 {
	      font-size: 1.5em;
	      color: $blue-green;
	      letter-spacing: 2.1px;
	      line-height: 32px;
	      font-weight: 500;
	      margin-top: 65px;
	      margin-bottom: 24px;
	    }

	    p {
	      font-family: $rokkitt-bold;
	      font-size: 1.1em;
	      color: #83C48D;
	      letter-spacing: 1.6px;
	      line-height: 0px;
	      margin-top: -5px;
	      text-align: center;
	      @media #{$medium-screen} {
	      	display: inline;
	      	line-height: 4.9em;
	      }
	    }

	    #mce-EMAIL {
	      border: 1px solid #E4E9F2;
	      width: 235px;
	      height: 34px;
	      margin-top: 14px;
	      padding-left: 8px;
	      font-size: .9em;
	      font-weight: 300;
	      letter-spacing: 0.5px;
	    }

	    #mc-embedded-subscribe {
	      background: $blue-green;
	      color: #FFFFFF;
	      border: none;
	      height: 38px;
	      width: 92px;
	      font-size: 0.8em;
	      letter-spacing: 1.5px;
	      font-weight: 300;
	    }
	  }

	  .training--footer {
	    background-color: #E4E9F2;
	    height: 105px;
	    margin-top: 39px;
	    color: #9192B1;
	    padding-top: 21px;

	    a {
	      color: #9192B1;
	      padding: 0 5px;
	    }

	    p {
	      text-align: center;
	      font-size: 0.8em;
	      letter-spacing: 0.3px;
	      font-weight: 500;
	    }

	    .training--footer--social {
	      text-align: center;
	      font-size: 23px;
	    }
	  
	}
}

