@import 'variables';

.footer {
  background-color: #E4E9F2;
  height: 105px;
  margin-top: 39px;
  color: #9192B1;
  padding-top: 21px;

  @media #{$medium-screen} {
    padding-top: 45px;
  }

  a {
    color: #9192B1;
    padding: 0 5px;
  }

  p {
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 0.3px;
    font-weight: 500;
  }

  .footer--social {
    text-align: center;
    font-size: 23px;
  }
}
