@import 'variables';

.footer {
  background-color: #E4E9F2;
  height: $footer-height;
  color: #9192B1;
  padding-top: 25px;
  @media #{$medium-screen} {
    line-height: $footer-height;
    padding-top: 0;
  }

  a {
    color: #9192B1;
    padding: 0 5px;
  }

  p {
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 0.3px;
    font-weight: 500;
  }

  .footer--social {
    text-align: center;
    font-size: 23px;
  }

  .footer--copyright {
    margin-bottom: 0;
    @media #{$medium-screen} {
      line-height: $footer-height;
    }
  }
}
