.newsletter {

  padding: 0px 30px;

  .home--newsletter--title {
    padding: 0 40px;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
    color: #383776;
    letter-spacing: 2.45px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 54px;
    margin-bottom: 24px;
  }

  p {
    font-family: Rokkitt-Bold;
    font-size: 1.1em;
    color: #83C48D;
    letter-spacing: 1.6px;
    line-height: 0px;
    margin-top: -5px;
    text-align: center;
  }

  #mc_embed_signup {
    text-align: center;
  }

  #mce-EMAIL {
    border: 1px solid #E4E9F2;
    width: 225px;
    height: 34px;
    margin-top: 24px;
    padding-left: 8px;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  #mc-embedded-subscribe {
    background: #383776;
    color: #FFFFFF;
    border: none;
    height: 38px;
    width: 82px;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    font-weight: 300;
  }
}
